.blocks-page{
    width: 90%;
    margin: 0 auto;
    padding: 80px 0;
}
.blocksHeaderBox{
    display: flex;
    justify-content:space-between;
}
.blocksHeaderNumber{
    background-color: rgba(219,154,4,.1);
    padding: 5px 10px;
    height: 30px;
    line-height: 20px;
}
.ant-table-cell a{
    color:#e84142
}
:where(.css-dev-only-do-not-override-1me4733).ant-pagination .ant-pagination-item-active,:where(.css-dev-only-do-not-override-1me4733).ant-pagination .ant-pagination-item-active:hover{
    border-color: #e84142;
}
:where(.css-dev-only-do-not-override-1me4733).ant-pagination .ant-pagination-item-active a,:where(.css-dev-only-do-not-override-1me4733).ant-pagination .ant-pagination-item-active:hover a{
    color:#e84142
}
@media screen and (min-width: 2000px) {
    .blocks-page{
        width: 1600px;
    }
}